<p id="notice"><%= notice %></p>

<h1>Dicts</h1>

<table>
  <thead>
    <tr>
      <th>Eword</th>
      <th>Jword</th>
      <th>Jkana</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dicts.each do |dict| %>
      <tr>
        <td><%= dict.eword %></td>
        <td><%= dict.jword %></td>
        <td><%= dict.jkana %></td>
        <td><%= link_to 'Show', dict %></td>
        <td><%= link_to 'Edit', edit_dict_path(dict) %></td>
        <td><%= link_to 'Destroy', dict, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dict', new_dict_path %>
